<main>

  <app-header class="absolute top-0 z-[10] w-full"></app-header>
  <div class="w-full h-screen justify-center items-start flex relative con">
    <div class="flex flex-col items-center justify-center yekanbakh">
      <img src="assets/images/website/cvlogo.png" class="w-[35rem]">
      <h1 class="font-bold text-[1.6rem]">! رزومه ساز آنلاین</h1>
      <p dir="rtl" class="w-[30rem]">رزومه‌ساز هوشمند: رزومه حرفه‌ای در چند دقیقه
        سایت‌های رزومه‌ساز با بهره‌گیری از هوش مصنوعی، فرآیند ساخت رزومه را به تجربه‌ای سریع و آسان تبدیل کرده‌اند. دیگر نیازی نیست ساعت‌ها زمان صرف نوشتن و ویرایش رزومه کنید. این سایت‌ها با ارائه قالب‌های آماده و حرفه‌ای، به شما کمک می‌کنند تا در کمترین زمان ممکن، یک رزومه جذاب و کامل داشته باشید.</p>

    <div class="flex gap-2">
      <button class="p-4 px-10 rounded-xl transition-all duration-300 hover:bg-blue-400 cursor-pointer bg-blue-500 text-white">
        ساخت رزومه
      </button>
      <button class="p-4 px-10 rounded-xl transition-all duration-300 hover:border-blue-500 cursor-pointer border-blue-400 border">
        ثبت نام
      </button>
    </div>
    </div>
  </div>
</main>
